#productos{
  background-color: #f3e7f3;
  padding: 2rem 2rem;
}

.cabecera label{
  padding: 0 0.5rem 0 0;
}

.titulo{
  text-align: center;
}

.contenedor{
  padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.contenedor-opciones{
  display: flex;
  min-height: 190px;
  justify-content: space-around;
}

.caracteristicas{
  padding: 1rem 1rem 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.caracteristicas div{
  display: flex;
  justify-content: space-between;
}

.producto{
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 1rem;
  max-height: 650px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.29);
  border-radius: 10px;
  width: 300px;
}

.producto h3{
  text-align: center;
}

.centrar-items{
  display: flex;
  justify-content: center;
  padding-top: 0.5rem;
  align-items: center;
}

/* .centrar-items label{
  padding-right: 0.5rem;
} */

.contenedor-img{
  padding: 0.7rem 0;
  position: relative;
  width: 100%;
}

.contenedor-img figure{
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* align-content: center; */
  /* width: 100%; */
}

.contenedor-img figure img{
  border-radius: 10px;
}

.descripcion{
  position: absolute;
  left: 83%;
  top: 85%;
  font-size: 1.7rem;
  color: #B95E9C;
  background-color: white;
  padding: 0.05rem 0.3rem;
  border-radius: 50%;
  cursor: pointer;
}

.descripcion:hover{
  box-shadow: 0px 0px 18px #f3e7f3;
  color: black;
}

.botones{
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-content: center;
}

.btn-principal{
  padding: 0.5rem 1rem;
  color: white;
  font-size: 1rem;
  background-color: #B95E9C;
  border-radius: 20px;
  border: solid 5px #f3e7f3;
  cursor: pointer;
}

.btn-principal:hover{
  box-shadow: 2px 2px 5px 5px #f3e7f3;
}

.btn-secundario{
  padding: 0.2rem 1rem;
  color: black;
  font-size: 0.8rem;
  background-color: #f3e7f3;
  border-radius: 20px;
  border: solid 1px #f3e7f3;
  cursor: pointer;
  text-align: center;
}

.btn-secundario:hover{
  border: solid 1px #B95E9C;
  background-color: #dfc2df;
}

select{
  background-color: white;
  border: thin solid #B95E9C;
  border-radius: 4px;
  line-height: 1.5rem;
  padding: 0.1rem 2.0rem 0.1rem 0.3rem;
  width: 60%;

  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

select.classic {
  background-image:
    linear-gradient(45deg, transparent 50%, #B95E9C 50%),
    linear-gradient(135deg, #B95E9C 50%, transparent 50%),
    linear-gradient(to right, #f3e7f3, #f3e7f3);
  background-position:
    calc(100% - 20px) calc(0.7rem + 2px),
    calc(100% - 15px) calc(0.7rem + 2px),
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5rem 2.5rem;
  background-repeat: no-repeat;
}

select.classic:focus {
  background-image:
    linear-gradient(45deg, #f3e7f3 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, #f3e7f3 50%),
    linear-gradient(to right, #B95E9C, #B95E9C);
  background-position:
    calc(100% - 15px) 0.7rem,
    calc(100% - 20px) 0.7rem,
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5rem 2.5rem;
  background-repeat: no-repeat;
  border-color: grey;
  outline: 0;
}


.modal {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  border-radius: 10px;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 0.5rem 1rem;
  background-color: #dfc2df;
  color: black;
  border-radius: 10px 10px 0 0;
}

.modal-body {
  padding: 2rem 2rem;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

@media screen and (max-width: 500px) {
  .modal-content{
    width: 90%;
  }
}


