<section id="productos">
  <h2 class="titulo">Mis productos</h2>
  <div class="contenedor">
    <div class="producto" [style]="(i < productosPorCategoria.length - 1) ? 'margin-bottom: 1rem;':'margin:0'" *ngFor = "let categoria of productosPorCategoria; let i = index">
      <h3>{{categoria.nombre}}</h3>
      <form [formGroup]="formProductos" #myForm="ngForm" (ngSubmit)="iniciarSolicitud(categoria.nombre, i)">
        <div class="centrar-items cabecera">
          <label for="tipo{{categoria.nombre}}">Tipo: </label>
          <select [required]="true" class="classic" formControlName="tipoProducto" name="tipo{{categoria.nombre}}" id="tipo{{categoria.nombre}}" (change)="cambioTipoSubproducto($event, i)">
            <option value="">--Seleccione</option>
            <option value={{opcion.nombre}} *ngFor = "let opcion of categoria.listaSubproductos; let j = index">{{opcion.nombre}}</option>
          </select>
        </div>
        <div class="contenedor-img">
          <figure>
            <img src="{{pathImagenes}}/{{categoria.nombre}}/{{subproductoTemporal[i].imagen}}" alt="">
          </figure>
          <div class="descripcion">
            <i class="fa fa-plus-circle" aria-hidden="true" (click)="abrirModal(subproductoTemporal[i])"></i>
          </div>
        </div>
        <div class="contenedor-opciones">
          <div class="caracteristicas">
            <div *ngIf="subproductoTemporal[i].subtipo.length > 1">
              <label for="usuario{{categoria.nombre}}">Para: </label>
              <select [required]="true" class="classic" formControlName="tipoUsuario" name="usuario{{categoria.nombre}}" id="usuario{{categoria.nombre}}" (change)="cambioUser($event, i)">
                <option value="">--Seleccione</option>
                <option value={{opcion}} *ngFor = "let opcion of subproductoTemporal[i].subtipo">{{opcion}}</option>
              </select>
            </div>
            <div *ngIf="subproductoTemporal[i].subtipo.length > 0">
              <label for="talla{{categoria.nombre}}">Talla: </label>
              <select [required]="subproductoTemporal[i].subtipo.length > 0" class="classic" formControlName="talla" name="talla{{categoria.nombre}}" id="talla{{categoria.nombre}} ">
                <option value="">--Seleccione</option>
                <option value={{opcion}} *ngFor = "let opcion of tallasTemporal[i].listaTallas">{{opcion}}</option>
              </select>
            </div>
            <div *ngIf="subproductoTemporal[i].subtipo.length == 0">
              <label for="talla{{categoria.nombre}}">Talla: Unica</label>
            </div>
            <div *ngIf="subproductoTemporal[i].colores.length > 0">
              <label for="color{{categoria.nombre}}">Color: </label>
              <select [required]="subproductoTemporal[i].colores.length > 0" class="classic" formControlName="color" name="color{{categoria.nombre}}" id="color{{categoria.nombre}}">
                <option value="">--Seleccione</option>
                <option value={{opcion}} *ngFor = "let opcion of subproductoTemporal[i].colores">{{opcion}}</option>
              </select>
            </div>
            <div *ngIf="categoria.faz">
              <label for="faz{{categoria.nombre}}">Faz: </label>
              <select [required]="categoria.faz" class="classic" formControlName="faz" name="faz{{categoria.nombre}}" id="faz{{categoria.nombre}}" (change)="mostrarColoresFaz($event)">
                <option value="">--Seleccione</option>
                <option value=1>Una faz</option>
                <option value=2>Doble faz</option>
              </select>
            </div>
            <div *ngIf="esDobleFaz && categoria.faz">
              <label for="colorfaz{{categoria.nombre}}" >Color(F): </label>
              <select [required]="esDobleFaz && categoria.faz" class="classic" formControlName="colorFaz" name="colorfaz{{categoria.nombre}}" id="colorfaz{{categoria.nombre}}">
                <option value="">--Seleccione</option>
                <option value={{opcion}} *ngFor = "let opcion of categoria.coloresFaz">{{opcion}}</option>
              </select>
            </div>
          </div>
          <div class="botones">
            <a class="btn-secundario" (click)="redirigirEnPagina('guia')">Guía talla y color</a>
            <!-- <a class="btn-secundario">Color</a> -->
            <input class="btn-principal" type="submit" value="Pedir">
          </div>
        </div>
      </form>
    </div>
  </div>
</section>



<div id="myModal" class="modal"  [style]="(mostrarModal)?'display: block':'display: none'" (click)="cerrarModal()" >
  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close" (click)="cerrarModal()">&times;</span>
      <h2>{{modal.titulo}}</h2>
    </div>
    <div class="modal-body">
      <p>{{modal.contenido}}</p>
    </div>
    <!-- <div class="modal-footer">
      <h3>Modal Footer</h3>
    </div> -->
  </div>

</div>
