<section id="clientes">
  <div class="titulo">
    <h2>Clientes felices</h2>
  </div>
  <div class="main">
    <div class="container" *ngIf="informacionCliente != null">

      <article class="review">
        <div class="img-container">
          <img src="assets/image/clientes/{{informacionCliente.img}}" alt="" id="person-img" />
        </div>

        <!-- <h4 id="author">{{informacionCliente.nombre}}</h4> -->
        <!-- <p id="job">ux designer</p> -->
        <p id="info">
          {{informacionCliente.mensaje}}
        </p>

        <!-- prev next buttons-->
        <div class="button-container">
          <button class="prev-btn btn" (click)="cambiarCliente(-1)">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
          </button>
          <button class="next-btn btn" (click)="cambiarCliente(1)">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </button>
        </div>
      </article>

    </div>
  </div>
</section>

