@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

#clientes{
  background-color: white;
  padding: 2rem 2rem;
}

.titulo{
  text-align: center;
}


img {
  max-width: 100%;
}

.main {
  width: 100%;
  padding: 2rem 0;
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #fafafa; */
}

.container {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .title h2 {
  font-size: 50px;
  text-transform: capitalize;
  margin-bottom: 5px;
} */

/* .title .underline {
  width: 100px;
  height: 4px;
  background-color: #177a29;
  margin: 0 auto;
} */

.review {
  border-radius: 10px;
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #f3e7f3;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.05);
  border: solid 1px #B95E9C;
}

#person-img {
  width: 150px;
  height: 150px;
  background-size: cover;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.5);
}

#author {
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  margin-top: 10px;
}

#job {
  text-transform: uppercase;
  line-height: 150%;
  margin-bottom: 10px;
  color: #B95E9C;
}

#info {
  display: flex;
  align-items: center;
  height: 100px;
  font-size: 18px;
  color: #454545;
  font-weight: 400;
  text-align: center;
  margin-bottom: 30px;
}

.btn {
  text-decoration: none;
  border-style: none;
  background-color: #f3e7f3;
  font-size: 30px;
  margin: 0 10px;
  color: #B95E9C;
  cursor: pointer;
}

.btn:hover {
  color: black;
}
