#dudas{
  padding: 2rem 4rem;
  background-color: #f3e7f3;
}

.container{
  width: 80%;
  margin: auto;
  padding: 2rem 0;
}

.titulo{
  text-align: center;
}

.encabezado{
  position: relative;
  transition: all 0.4s ease-in-out;
  color: #B95E9C;
  font-size: 1.2rem;
}

.encabezado:hover{
  color: white;
}

.encabezado i{
  position: absolute;
  left: 97%;
  top: 30%;
  /* color: black; */
  transition: transform 0.4s ease-in-out;
}

.accordion {
  background-color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: solid 1px #B95E9C;
  border-radius: 10px;
  text-align: left;
  outline: none;
  transition: 0.4s;
  font-size: inherit;
}

.con-margen{
  margin-bottom: 0.5rem;
}

.girar{
  transform: rotate(180deg);
  /* transition: 0.2s; */
}

.accordion:hover{
  background-color: #B95E9C;
  color: white;
}

.active {
  border-radius: 10px 10px 0 0;
  background-color: #B95E9C;
  color: white;
}

.panel {
  padding: 0 3rem;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  border-radius: 0px 0px 10px 10px;
}

.contenido-panel{
  padding: 2rem;
}

@media screen and (max-width: 1200px) {
  .encabezado i{
    position: absolute;
    left: 95%;
    top: 30%;
    /* color: black; */
    transition: transform 0.4s ease-in-out;
  }

  #dudas{
    padding: 2rem 2rem;
    background-color: #f3e7f3;
  }

  .container{
    width: 100%;
    margin: auto;
    padding: 2rem 0;
  }

  .contenido-panel{
    padding: 2rem 1rem;
  }
}

@media screen and (max-width: 500px) {
  .encabezado i{
    left: 89%;
    top: 30%;
  }

  .contenido-panel{
    padding: 2rem 0.5rem;
  }
}

