
<section id="dudas">
    <h2 class="titulo">Preguntas frecuentes</h2>
    <div class="container">
      <div class="item">
        <div class="encabezado">
          <button class="accordion con-margen" (click)="clicAcordion($event.target)">Proceso de compra</button>
          <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
        </div>
        <div class="panel con-margen">
          <div class="contenido-panel">
            <ol>
              <li>
                <b>Confirmar disponibilidad: </b>
                Debido a la alta rotación de los productos SIEMPRE confirmar la disponibilidad de estos antes de la compra.
              </li>
              <li>
                <b>Verifica la talla: </b>
                Revisa las tablas de medidas, si quieres modificar alguna talla avisanos por chat, ya que NO HAY DEVOLUCIONES.
              </li>
              <li>
                <b>Validamos tu pedido con precio, talla, diseño y cantidad: </b>
                Hacemos la confirmación del pedido y el valor total de la compra incluyendo el costo del envío (si aplica). No apartamos productos sin antes confirmar el pago.
              </li>
              <li>
                <b>Confirmar la opción de pago: </b>
                Una vez validado tu pedido te confirmaremos las opciones de pago disponibles.
              </li>
              <li>
                Antes de hacer tu pago, por favor confirma la disponibilidad de la prenda.
              </li>
              <li>
                Entregas de 5-10 días hábiles posteriores a la confirmación de tu pedido.
              </li>
            </ol>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="encabezado">
          <button class="accordion con-margen" (click)="clicAcordion($event.target)">Politicas de compra</button>
          <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
        </div>
        <div class="panel con-margen">
          <div class="contenido-panel">
            <ul>
              <li>
                Los despachos se realizan de 5 a 10 días hábiles después de confirmado el pago.
              </li>
              <li>
                El domicilio en Bogota vale $8.000 y Soacha $9.000.
              </li>
              <li>
                En Bogotá el domicilio es GRATIS por compras superiores a $300.000.
              </li>
              <li>
                El pedido tambien puedes recogerlo en nuestra bodega.
              </li>
              <li>
                <b>Envios a nivel nacional: </b>El envío a otras ciudades lo pagas al recibir el paquete.
              </li>
              <li>
                Hacemos envío por medio de la transportadora interrapidisimo, si tienes otra de tu preferencia nos mencionas al momento de confirmar tu pedido.
              </li>
              <li>
                Aseguraremos el valor del paquete, para que en caso de alguna contingencia, la transportadora responda.
              </li>
              <li>
                Te enviaremos la guía después del respectivo envío para que puedas rastrear tu pedido.
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="encabezado">
          <button class="accordion con-margen" (click)="clicAcordion($event.target)">Métodos de pago</button>
          <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
        </div>
        <div class="panel con-margen">
          <div class="contenido-panel">
            Si la transferencia interbancaria se hara desde otro banco diferente a Bancolombia, favor solicitar el link antes de realizarla.
            <ul>
              <li>
                <b>Pago contra entrega BOGOTÁ Y SOACHA: </b>Para registrar tu pedido, debes hacer un abono del 15% del producto, el restante lo puedes pagar contra entrega.
              </li>
              <li>
                <b>Transferencia: </b>PSE, Bancolombia, Nequi, Daviplata.
              </li>
              <li>
                <b>Tarjetas de crédito - BOLD: </b>Tarjeta de crédito Olimpica, Mastercard, Visa, Amex, Crédito facil codensa, tuya.
                -> El cliente asumirá la comisión del 5% adicional con BOLD.
              </li>
              <li>
                <b>Efecty: </b>La comisión por transacción por efecty la asume el comprador.
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="encabezado">
          <button class="accordion con-margen" (click)="clicAcordion($event.target)">¿Puedo personalizar mi pedido?</button>
          <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
        </div>
        <div class="panel con-margen">
          <div class="contenido-panel">
            Si tienes en mente un diseño que no ves en el catálogo (Pijama, Hoodie), escribenos para saber si se puede elaborar,
            el valor varía entre los $20.000 a $30.000 pesos dependiendo del nuevo diseño.
          </div>
        </div>
      </div>

      <div class="item">
        <div class="encabezado">
          <button class="accordion con-margen" (click)="clicAcordion($event.target)">Diferencia entre un faz y doble faz</button>
          <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
        </div>
        <div class="panel con-margen">
          <div class="contenido-panel">
            El doble faz por un lado es el estilo que escojas (tela sencilla o exclusiva) y por el otro en tela de borrego (peluche) para que puedas usarlo por los dos lados, ideal para las personas más friolentas.
            El hoodie un faz tiene peluche en el gorro y las mangas. Aun así es muy calentito, cómodo y liviano,
          </div>
        </div>
      </div>

      <div class="item" id="guia">
        <div class="encabezado">
          <button class="accordion con-margen" (click)="clicAcordion($event.target)">Guía para las tallas</button>
          <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
        </div>
        <div class="panel con-margen">
          <div class="contenido-panel">
            <div class="guias-contenedor">
              <div class="guia">
                <a href="assets/pdfs/guia_tallas_hoodies.pdf" target="_blank"><i class="fa fa-file-pdf"></i></a>
                <p>Guía de tallas para Hoddie</p>
              </div>

              <div class="guia">
                <a href="assets/pdfs/guia_tallas_pijamas.pdf" target="_blank"><i class="fa fa-file-pdf"></i></a>
                <p>Guía de tallas para Pijamas</p>
              </div>

              <div class="guia">
                <a href="assets/pdfs/guia_tallas_otros.pdf" target="_blank"><i class="fa fa-file-pdf"></i></a>
                <p>Guía de tallas para Joggers y otros</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="encabezado">
          <button class="accordion con-margen" (click)="clicAcordion($event.target)">Guía para los colores</button>
          <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
        </div>
        <div class="panel con-margen">
          <div class="contenido-panel">
            <div class="guias-contenedor">
              <div class="guia">
                <a href="assets/pdfs/telas_sencillas.pdf" target="_blank"><i class="fa fa-file-pdf"></i></a>
                <p>Telas sencillos</p>
              </div>

              <div class="guia">
                <a href="assets/pdfs/telas_exclusivas.pdf" target="_blank"><i class="fa fa-file-pdf"></i></a>
                <p>Estilos exclusivos</p>
              </div>

              <div class="guia">
                <a href="assets/pdfs/telas_especiales.pdf" target="_blank"><i class="fa fa-file-pdf"></i></a>
                <p>Estilos especiales</p>
              </div>

              <div class="guia">
                <a href="assets/pdfs/telas_doble_faz.pdf" target="_blank"><i class="fa fa-file-pdf"></i></a>
                <p>Telas doble faz</p>
              </div>

              <div class="guia">
                <a href="assets/pdfs/telas_otros.pdf" target="_blank"><i class="fa fa-file-pdf"></i></a>
                <p>Colores Joggers y otros</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
</section>
