<footer>
  <div class="fila">
    <div class="redes-sociales">
      <a class="" target="_blank" href="https://www.instagram.com/jesvalstore/">
        <i class="fab fa-instagram"></i>
      </a>
      <a class="" target="_blank" href="https://www.facebook.com/AbuelaDeLasPijamas/">
        <i class="fab fa-facebook"></i>
      </a>
      <a class="" target="_blank" href="https://www.tiktok.com/@jesvalstore/">
        <i class="fab fa-tiktok"></i>
      </a>
      <a class="" target="_blank" href="mailto:jesvalstore@gmail.com">
        <i class="fa fa-envelope"></i>
      </a>
      <a class="" target="_blank" href="https://wa.me/+573219654214">
        <i class="fab fa-whatsapp"></i>
      </a>
    </div>
    <div class="logo">
      <figure>
        <img src="{{imageToolbar}}" alt="Logo de jesvalstore">
      </figure>
    </div>
    <div class="derechos">
      <p>©JESVALSTORE, 2023.</p>
    </div>
  </div>
  <div class="diseno">
    <p>Diseño: <a href="http://bardelhaus.site" target="_blank">BARDELHAUS</a></p>
  </div>
</footer>
